<router-outlet></router-outlet>

<h1>Open PDF</h1>
<input (change)="onFileSelected()" type="file" multiple="true" id="file">

<p>Rendered {{ this.pagesRendered }} of {{ this.numPages }} pages.</p>

<h1>PDF Preview</h1>
<div class="flex-container">
  <div class="image-container">
    <div class="page-button-list">
      <button *ngFor="let item of [].constructor(this.numPages); let i = index" (click)="onPreviewPage_Click(i)">{{ i + 1 }}</button>
    </div>
    <img [src]="imgUrl" class="pdf-page-preview" />
  </div>
  <div class="ocr-container">
    <app-ocr [imgUrl]="imgUrl"></app-ocr>
  </div>
</div>
<div class="pdf-container">
  <div class="pdf-viewport">
    <pdf-viewer [src]="pdfSrc"
            [render-text]="false"
            [show-all]="false"
            [page]="currentPage"
            [zoom]="3.0"
            (after-load-complete)="loadCompleted($event)"
            (page-rendered)="pageRendered($event)"
            style="display: block;">
    </pdf-viewer>
  </div>
</div>
